services:
  nginx:
    image: {{ nginx_container_image }}
    container_name: {{ nginx_container_name }}
    restart: unless-stopped
    networks:
      {{ compose_network_name }}:
        ipv4_address: {{ nginx_container_ip }}

networks:
  {{ compose_network_name }}:
    external: true
