---
- name: Write configuration file from repo
  ansible.builtin.raw: |
    cat <<'EOF' > {{ openwrt_config_dir }}/{{ item }}
    {{ lookup('file', openwrt_config_repo_dir + '/' + item) }}
    EOF

- name: Commit configuration file
  ansible.builtin.raw: "uci commit {{ item }}"

- name: Read back configuration file
  ansible.builtin.raw: "uci show {{ item }}"
  changed_when: false

- name: Pause for verification
  ansible.builtin.pause:
    prompt: "Run verification checks, then press Enter to continue."
  when: openwrt_apply_pause | bool
